<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <h1 class="centered">Server is Down.</h1>
    <p class="centered">Our team is trying to fix the error as soon as possible, Sorry for the inconvenience.</p>

<%- include('../includes/end.ejs') %>